*{
    margin: 0px;
    padding: 0px;
}

.form{
    background-color: rgb(31, 29, 29);
    color: white;
    height: 415px;
    width: 270px;
    background: -moz-linear-gradient(rgb(0, 0, 0));
    position: relative;
    top: 70px;
    left: 250px;
    border-radius: 20px;
}

.form h4{
   background-color: antiquewhite;
   color: rgb(2, 2, 2);
   height: 30px;
   justify-content: center;
   text-align: center;
   width: 196px;
   border-radius: 70px;
   margin: 2px;
   padding-top: 7px;
   position: relative;
   top: 18px;
   left: 35px;
   font-size: larger;
   font-family: 'Lucida Sans';

}
h4:hover{
    background-color: orangered;
}
.form input{
   /* height: 35px;
   width: 240px; 
   box-sizing: border-box;
   justify-items: center;
   background: transparent;
   color: white;
   border-radius: 10px;
   border-bottom: 1px orange;
   border-left: none;
   border-top: none;
   border-right: none;
   font-family: sans-serif;
   font-size: larger;
   letter-spacing: 4px;
   margin-top: 40px; */
   width: 240px;
   height: 35px;
   background: transparent;
   border-bottom: 1px solid orange;
   border-top: none;
   border-left: none;
   border-right: none;
   color: white;
   font-size: 15px;
   letter-spacing: 8px;
   margin-top: 20px;
   font-family: sans-serif;
   padding-left: 7px;
   margin-left: 10px;

}

.form .login{
margin-top: 23px;
text-align: center;
font-size:30px;
font-style: normal;
font-family: monospace;
}

.form p {
    text-align: center;
    margin-top: 25px;
}

.form .lew{
    margin-top: 18px;
}

.form .logo{
    justify-content: center;
    margin-left: 18px;
    /* font-size: 15px; */
    padding-left: 48px;
    margin-top: 24px;
    /* size: a5; */
    font-size: x-large;
    background: transparent;
}
 a:hover{
    background-color: rgb(15, 6, 95);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.logo a{
    color: orange;
}
.login a{
    color: darkgoldenrod;
}












